<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2" crossorigin="anonymous"></script>   
</head>
<body>
  <h1>Testing Async events with SSE </h1>

  <h3>Alice's events</h3>
  <div hx-ext="sse" sse-connect="/events/alice" sse-swap="message">
    No events yet
  </div>
  <h3>Bob's events</h3>
  <div hx-ext="sse" sse-connect="/events/bob" sse-swap="message">
    No events yet
  </div>
</body>
</html>
